<style type="text/css">
	body{
		font-family: 'Quattrocento Sans', sans-serif;
		background: url('/backg.jpg');
		background-size: 100% 200%; 
		/*background-position: 50px 100px;*/
	}
	.heading{
		justify-content: center;
		background-color: none;	/*BCABAE*/
		box-shadow: 1px 2px 3px white;
		border-bottom:2px solid #716969; 
		padding-top:2%;
		font-weight: bold;
		color: #402A2C;

	}
	.signup{
		float: right;
		 top: 0;
		 padding-bottom: 4%;
	}
	.card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px;
        margin-top:10%;
        width:80%;
        border-radius: 10px;
        opacity: 0.8; 
	}

	@media (min-width : 700px){
		.card{
			margin-top: 10%;
		}
	}
</style>

	<div class="container-fluid">
		<div class="row heading">
			<div class="col">
				<h3>OMW</h3>
			</div>
			<div class="col align-self-end" style="float: right;">
				<!-- <a href="#" class="signup">SignUp</a> -->
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="card text-center">
  <!-- <h5 class="card-header">Welcome aboard!</h5> -->
  <div class="btn btn-sm btn-primary" onclick="autofill()">Autofill previous data</div><br>
  <div class="card-body">  	
<div class="d-flex">
	<div class="container">
	<div class="btn-group">
		<br>
    	<button type="button" class="btn btn-secondary" id="from">From</button>
   		 <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
      <a class="dropdown-item" onclick="document.getElementById('from').innerHTML='Hauz Khas' ">Hauz Khas</a>
      <a class="dropdown-item"  onclick="document.getElementById('from').innerHTML='M G Road' ">M G Road</a>
      <a class="dropdown-item"  onclick="document.getElementById('from').innerHTML='Delhi Airport' ">Delhi Airport</a>
      <!-- <div class="dropdown-divider"></div> -->
      <!-- <a class="dropdown-item" href="#">Separated link</a> -->
    </div>
  </div>
  <br><br>
  <div class="btn-group">
    	<button type="button" class="btn btn-secondary" id= "to">To</button>
   		 <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
      <a class="dropdown-item"  onclick="document.getElementById('to').innerHTML='Hauz Khas' ">Hauz Khas</a>
      <a class="dropdown-item"  onclick="document.getElementById('to').innerHTML='M G Road' ">M G Road</a>
      <a class="dropdown-item"  onclick="document.getElementById('to').innerHTML='Delhi Airpirt' " >Delhi Airport</a>
      <!-- <div class="dropdown-divider"></div> -->
      <!-- <a class="dropdown-item" href="#">Separated link</a> -->
    </div>
  </div>
  </div>
</div>
<br>

<!-- <input type="datetimepicker5" id="datetimepicker5" name="time"> -->
	<form>
  		<label for="appt-time">Choose the timing: </label>
  		<input id="appt-time" type="time" name="appt-time">
	</form>
	<br>
	<select class="mdb-select md-form colorful-select dropdown-danger" multiple>
  <option value="" disabled selected>Choose your Interests</option>
  <option value="1">Dating</option>
  <option value="2">Football</option>
  <option value="3">Gaming</option>
  <option value="3">Politics</option>
  <option value="3">Cricket</option>
</select>
<br><br>

<label><b>Gender : </b></label>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">Male</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">Female</label>
</div>
<br><br>

<!-- <label class="mdb-main-label">Label example</label> -->
<%= link_to "Search" , home_matches_path , :class => "btn-save btn btn-primary btn-sm" %>
<br>
    
  </div>
  </div>
  <br>

</div>
</div>
<script type="text/javascript">
	$(function () {
    $('#datetimepicker5').datetimepicker({
        use24hours: true,
        format: 'HH:mm'
    });
});
	// Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();
});

function autofill() {
  var list = document.getElementsByClassName('dropdown-menu');
  list[0].children[2].click();
  list[1].children[1].click();
  document.getElementById("appt-time").value = "08:55";
  document.getElementsByClassName('mdb-select')[0].children[0].selected = false;
  document.getElementsByClassName('mdb-select')[0].children[1].selected = false;
  document.getElementsByClassName('mdb-select')[0].children[2].selected = false;
  document.getElementsByClassName('mdb-select')[0].children[3].selected = true;
  document.getElementsByClassName('mdb-select')[0].children[4].selected = false;
  document.getElementsByClassName('mdb-select')[0].children[5].selected = true;
  document.getElementById('inlineRadio1').checked = true;
}

</script>


<!-- <script type="text/javascript">
	 $(function(){
    $(".dropdown-menu a").click(function(){
      // document.getElementById(($(this).parent().parent())).val(($(this).text()));
      $(this).parent().parent().firstChild.innerHTML = $(this).text();

   });

});
</script> -->