<style type="text/css">
	body{
		font-family: 'Quattrocento Sans', sans-serif;
		background: url('backg.jpg');
		background-size: 100% 200%; 
		/*background-position: 50px 100px;*/
	}
	.heading{
		justify-content: center;
		background-color: none;	/*BCABAE*/
		box-shadow: 1px 2px 3px white;
		border-bottom:2px solid #716969; 
		padding-top:2%;
		font-weight: bold;
		color: #402A2C;

	}
	.signup{
		float: right;
		 top: 0;
		 padding-bottom: 4%;
	}
	.card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px;
        margin-top:30%;
        width:80%;
        border-radius: 10px;
        /*opacity: 0.5; */
	}

	@media (min-width : 700px){
		.card{
			margin-top: 10%;
		}
	}
</style>

<body>
	<div class="container-fluid">
		<div class="row heading">
			<div class="col">
				<h3>OMW</h3>
			</div>
			<div class="col align-self-end" style="float: right;">
				<!-- <a href="#" class="signup">SignUp</a> -->
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="card text-center">
  <h5 class="card-header">Welcome aboard!</h5>
  <div class="card-body">
    <input type="number" class="form-control" placeholder="Phone" aria-label="Recipient's phone" aria-describedby="button-addon3">
    <br>
    <%= link_to "Get OTP" , home_otp_path , method: "post" , remote: true , :class =>  "btn btn-md btn-primary" , :id => "otpbtn" %> 
    <br>
    <input id = "otparea1" style = "display: none;" type="number" class="form-control" placeholder="otp" aria-label="Recipient's otp" aria-describedby="button-addon3">
    <br>
    
    <a href="#" style="display: none;" id="otparea2" class="btn btn-primary btn-lg">Login</a>
    <!-- <a href="#" class="btn btn-primary btn-lg">SignUp</a> -->
    <br>
  </div>
  </div>
  <br>
  <div class="container">
  	<div class="row">
  		<div class="card text-center" style="margin-top: 0; background: transparent;">
  <a href="#" class="btn btn-secondary btn-md">Signup with google</a>
  <br>
  <a href="#" class="btn btn-secondary btn-md">Signup with facebook</a>
  </div>
</div>
  </div>
</div>
</div>