<style type="text/css">
	body{
		font-family: 'Quattrocento Sans', sans-serif;
		background: url('static/background.jpg');
		/*background-position: 50px 100px;*/
	}
	.heading{
		justify-content: center;
		background-color: none;	/*BCABAE*/
		box-shadow: 1px 2px 3px white;
		border-bottom:2px solid #716969; 
		padding-top:2%;
		color: #402A2C;

	}
	.signup{
		float: right;
		 top: 0;
		 padding-bottom: 4%;
	}
	.card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px;
        margin-top:30%;
        width:80%;
        border-radius: 10px; 
	}

	@media (min-width : 700px){
		.card{
			margin-top: 10%;
		}
	}
</style>

<body>
	<div class="container-fluid">
		<div class="row heading">
			<div class="col">
				<h3>OMW</h3>
			</div>
			<div class="col align-self-end" style="float: right;">
				<!-- <a href="#" class="signup">SignUp</a> -->
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="card text-center">
  <h5 class="card-header">Welcome aboard!</h5>
  <div class="card-body">
    <input type="text" class="form-control" placeholder="Phone number" aria-label="Recipient's username" aria-describedby="button-addon3">
    <br>
    <a href="#" class="btn btn-primary btn-lg">Login</a>
  </div>
</div>
</div>
</div>