<style type="text/css">
	body{
		font-family: 'Quattrocento Sans', sans-serif;
		background: url('/backg.jpg');
		background-size: 100% 100vh; 
		/*background-position: 50px 100px;*/
	}
	.nn{
		background-color: pink;
	}
	.heading{
		justify-content: center;
		background-color: none;	/*BCABAE*/
		box-shadow: 1px 2px 3px white;
		border-bottom:2px solid #716969; 
		padding-top:2%;
		font-weight: bold;
		color: #402A2C;

	}
	.signup{
		float: right;
		 top: 0;
		 padding-bottom: 4%;
	}
	.card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px;
        margin-top:10%;
        width:80%;
        border-radius: 10px;
        opacity: 0.8; 
	}

	@media (min-width : 700px){
		.card{
			margin-top: 10%;
		}
	}

	.row .col-6{
		border: 0.5px solid teal;
		/*border-radius: 10px;*/
	}
	.card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px;
        margin-top:10%;
        width:80%;
        border-radius: 10px;
        opacity: 0.8; 
	}
	.amazing-reviews {
  font-size: 12pt;
}
.amazing-reviews blockquote {
  font-family: Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  padding: 0;
  background: white;
  margin: 30px 0 0 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px 15px 10px 15px;
  position: relative;
  box-shadow: rgba(0,0,0,.025) 0 3px 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
.amazing-reviews blockquote:before {
  content: '';
  display: block;
  border: 20px solid transparent;
  border-top-color: #ccc;
  position: absolute;
  top: 100%;
  left: 20px;
  z-index: 250;
  background: transparent;
  height: 0;
  opacity: 1;
}
.amazing-reviews blockquote:nth-of-type(even):before {
  left: auto;
  right: 20px;
}
.amazing-reviews blockquote:after {
  content: '';
  display: block;
  border: 19px solid transparent;
  border-top-color: white;
  position: absolute;
  top: 100%;
  left: 21px;
  z-index: 500;
}
.amazing-reviews blockquote:nth-of-type(even):after {
  left: auto;
  right: 21px;
}
.amazing-reviews blockquote:last-of-type {
  margin-bottom: 45px;
}
.amazing-reviews blockquote header span i {
  color: white;
  text-shadow: #aaa 1px 0 0, #aaa 0 1px 0, #aaa -1px 0 0, #aaa 0 -1px 0;
}
.amazing-reviews blockquote header span[data-rating="1"] i:nth-child(-n+1),
.amazing-reviews blockquote header span[data-rating="2"] i:nth-child(-n+2),
.amazing-reviews blockquote header span[data-rating="3"] i:nth-child(-n+3),
.amazing-reviews blockquote header span[data-rating="4"] i:nth-child(-n+4),
.amazing-reviews blockquote header span[data-rating="5"] i:nth-child(-n+5) {
  color: #f0c96a;
  text-shadow: #c08036 1px 0 0, #c08036 0 1px 0, #c08036 -1px 0 0, #c08036 0 -1px 0;
}
.amazing-reviews blockquote strong {
  color: black;
  display: inline;
}
.amazing-reviews strong + span {
  margin-left: -3px;
}
.amazing-reviews blockquote strong + span + span {
  display: block;
  margin: 5px 0;
}
.amazing-reviews blockquote span em {
  font-style: normal;
  font-weight: bold;
  color: #155096;
  text-decoration: underline;
}
.amazing-reviews blockquote span:last-of-type {
  color: #e47d21;
  font-size: 10pt;
  font-weight: bold;
  display: block;
}
.amazing-reviews blockquote p {
  font-size: 12pt;
  font-style: normal;
  margin: 5px 0 0 0;
  color: black;
}
.amazing-reviews h2:last-of-type {
  background: #eee;
  text-align: center;
  font-weight: 400;
  padding: 15px;
  margin: 0;
  border: 1px solid #ccc;
  position: relative;
}
.amazing-reviews h2 q,
.amazing-reviews h2 strong {
  font-weight: 600;
}
@media (min-width: 400px) {
  .amazing-reviews h2:last-of-type {
    font-size: 24pt;
  }
}
@media (min-width: 700px) {
  .amazing-reviews blockquote {
    width: 75%;
    margin: 30px 15px 0 15px;
  }
  .amazing-reviews blockquote:nth-of-type(even) {
    margin-left: calc(25% - 15px);
  }
  .amazing-reviews h2:last-of-type {
    font-size: 28pt;
  }
}
@media (min-width: 700px) {
  .amazing-reviews .quote-container {
    width: 100%;
    padding: 0 75px;
  }
}
</style>

<div class="container-fluid">	
		<div class="row heading">
			<div class="col">
				<br>
				<h5>User Profile</h5>
			</div>
			<div class="col align-self-end" style="float: right;">
				<!-- <a href="#" class="signup">SignUp</a> -->
			</div>
		</div>

		<br>
		<div class="container-fluid card">
			<br>
			<div class="container">
				<center><img src="/dp.png" height="30%" width="30%"></center>
			</div>
			<br>

			<!-- FOR UJJWAL -->

			<div class="container">
				<div class="row">
					<div class="col-6"><h5>Name </h5></div>
					<div class="col-6"><h5>Ujjwal</h5></div>
				</div>
				<!-- <div class="row">
					<div class="col-6"><h5>Phone  </h5></div>
					<div class="col-6"><h5>9876543298</h5></div>
				</div> -->
				<div class="row">
					<div class="col-6"><h5>Address  </h5></div>
					<div class="col-6"><h5>SVNIT Campus, Surat</h5></div>
				</div>
				<div class="row">
					<div class="col-6"><h5>Interests  </h5></div>
					<div class="col-6"><h5>Politics,<br>Cricket,<br>Football</h5></div>
				</div>
				<div class="row">
					<div class="col-6"><h5>Last Route  </h5></div>
					<div class="col-6"><h5>M G Road<br>to<br>Hauz Khas</h5></div>
				</div>
				<br>
			</div>
			<!-- <div class = "nn"> -->
			<div class="row">
				<div class="container-fluid">
					<center><h5>Reviews  </h5></center>
				</div>
					
			</div>
			<div class="row">
				<div class=amazing-reviews>
  <blockquote>
    <header>
      <span data-rating=5>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </span>
      <strong>Vaibhav Maheshwari</strong>
      <span>, June 2</span>
    </header>
    <p>I found Ujjwal to be a nice guy with a really good sense of humour. Looking forward to meeting him again.</p>
  </blockquote>
  <blockquote>
    <header>
      <span data-rating=1>
        <i class="fa fa-star"></i>
      </span>
      <strong>Jay Rathod</strong>
      <span>, Feb 9</span>
    </header>
    <p>I found Ujjwal to be a rude and arrogant person.</p>
  </blockquote>
			</div>

			<!-- FOR JAY -->
			<!-- <div class="container">
				<div class="row">
					<div class="col-6"><h5>Name </h5></div>
					<div class="col-6"><h5>Jay</h5></div>
				</div>
				<div class="row">
					<div class="col-6"><h5>Phone  </h5></div>
					<div class="col-6"><h5>Hidden</h5></div>
				</div>
				<div class="row">
					<div class="col-6"><h5>Address  </h5></div>
					<div class="col-6"><h5>Hidden</h5></div>
				</div>
				<div class="row">
					<div class="col-6"><h5>Interests  </h5></div>
					<div class="col-6"><h5>Politics,<br>Cricket,<br>Football</h5></div>
				</div>
				<div class="row">
					<div class="col-6"><h5>Last Route  </h5></div>
					<div class="col-6"><h5>Hidden</div>
				</div>
				<br>
			</div> -->
			

		</div>
	</div>