<link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">
<div id="loading">
  <img id="loading-image" src="/loader.gif" alt="Loading..." />
</div>


<script>
$(window).load(function(){
	document.getElementById("loading").style.display="hidden";
});
</script>
																																																																																																																																																																																																																																																																																																																																																																																																																																	
<style type="text/css">
body {
	height: 100vh;
	font-family: Arial;
	background-image: url('/backg.jpg');
	background-size: 100% 100vh; 
	padding: 50px;
}
#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}
.messagebtn{
	height: 30px;
	width: 30px;
	margin-left: 15px;
	margin-bottom: -20px;
}
.unmatch{
	margin-top: -187px;
	margin-left: 240px; 
	height: 25px;
	width: 25px;
	/*border:  1px solid black;*/

}
.request-container{
	width : 50%;
	position: center;
	margin: 0 auto;
	background-color: #3498DB;
	
	padding: 20px;
	border-radius: 10px;
}
.req-title {
	text-align: center;
	color: #c5d5ea;
	font-size : 20px;
}

#card{
	/*position: relative;*/
	margin-right: 30%;
	background-color: #FFF ;
	margin :4px;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 10px;
	transition-duration: 0.3s;
	opacity: 0.8;
}
.profileimg{
	/*position: relative;*/
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.user-details{
	
	display: inline-block;
	margin-left: 40px;
	padding :20px;
	padding-left : 20px;
	border-radius: 5px;
	font-family: Arial;
	font-size: 18px;	
	position: absolute;
	width: 50%;
}

#card button{
	float: right;
	width: 10px;
	height:  30px;
	border:none;
	display: inline-block;
	background:transparent;
}
#card button img{
	transition-duration: 0.5s;
	margin-right: 4px;
	width: 40px;
	height: 40px;
	float: left;
}

.bttn{
	transition-duration:0.3s;
}
.bttn:hover{
	transform:scale(1.3);
}

.accept {
	display: inline-block;
	/*border:1px solid black;*/
	float: right;
	width:100px;
	height : 100px;
}
#card:hover{
	transform:scale(1.05);
	opacity: 1;
}
img{
	transition-duration: 0.5s;
}
</style>

<div class="container-fluid">
		<div class="row heading">
			<div class="col">
				<h3>Matches</h3>
			</div>
			<div class="col align-self-end" style="float: right;">
				<!-- <a href="#" class="signup">SignUp</a> -->
			</div>
		</div>
	</div>

<div class="container-fluid">
	<div class="container-fluid" id = "card">
		<div class="row">
			<div class="col-4">
				<img src="/profile.jpg" class="profileimg" onclick="window.location.assign('/home/login/?q=Ujjwal&int=football,politics,cricket')"><br>
				<img src="/msg.png" class="messagebtn" onclick="window.location.assign('/home/chat/?q=Ujjwal&n=ujjwalkumar')">
			</div>
			<div class="col-7">
				<b>Ujjwal</b><br>
				Interests:<br>
				Football , Politics<br>
				Cricket<br>
			</div>
			<div class="col-1" ><img onclick="this.parentNode.parentNode.parentNode.remove()" src="/reject.png" class="unmatch"></div>
		</div>
	</div>

	<div class="container-fluid" id = "card">
		<div class="row">
			<div class="col-4">
				<img src="/profile.jpg" class="profileimg" onclick="window.location.assign('/home/login/?q=Vaibhav&int=dating,cricket,gaming')">
				<img src="/msg.png" class="messagebtn" onclick="window.location.assign('/home/chat/?q=Vaibhav&n=vaibhavmaheshwari')">
			</div>
			<div class="col-7">
				<b>Vaibhav</b><br>
				Interests:<br>
				Dating , Cricket<br>
				Gaming<br>
			</div>
			<div class="col-1"><img onclick="this.parentNode.parentNode.parentNode.remove()" src="/reject.png" class="unmatch"></div>
		</div>
	</div>

	<div class="container-fluid" id = "card">
		<div class="row">
			<div class="col-4">
				<img src="/profile.jpg" class="profileimg" onclick="window.location.assign('/home/login/?q=Jay&int=gaming,dating,football')">
				<img src="/msg.png" class="messagebtn" onclick="window.location.assign('/home/chat/?q=Jay&n=jayrathod')">
			</div>
			<div class="col-7">
				<b>Jay</b><br>
				Interests:<br>
				Gaming , Dating<br>
				Football<br>
			</div>
			<div class="col-1"><img onclick="this.parentNode.parentNode.parentNode.remove()" src="/reject.png" class="unmatch"></div>	
		</div>
	</div>
</div>

